


<%= simple_form_for([@garden, @booking]) do |f| %>
<%=cl_image_tag(@booking.garden.photo)%>
  <div class="form-inputs">
    <%= f.input :start_date, as: :date %>
  </div>
  <div class="form-inputs">
    <%= f.input :end_date, as: :date %>
  </div>



<div class="main">
  <h2 href="#"> The Garden</h2>
    <%= cl_image_tag(@booking.garden.photo) %>
    <p>Brief Description</p>
  </div>
