<div class="container">

<h1>Add my Garden</h1>

<%= simple_form_for(@garden) do |f| %>
<% if @garden.errors.any? %>
  <div class="errors-container">
    <ul>
      <% @garden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <%# f.error_notification %>
  <%# f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  <div class="form-inputs">
    <%= f.input :address %>
  </div>
    <div class="form-inputs">
    <%= f.input :description %>
  </div>
    <div class="form-inputs">
    <%= f.input :price_per_day %>
  </div>

  <div class="form-actions">
    <%= f.submit  "submit my garden", class: "btn btn-success" %>
  </div>
<% end %>
<%= link_to 'Back', gardens_path, class: "btn btn-outline-success" %>
</div>

