<div class="container mb-5">
  <div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>

      <h2><%= @garden.name%></h2>
      <p><%= @garden.address %></p>
      <p><%= @garden.price_per_day %>€</p>
      <p><%= @garden.description %></p>

      <p><%= link_to 'Back', gardens_path, class: 'link-green' %></p>

      <% if current_user.nil? || @garden.user_id != current_user.id  %>
        <%=link_to 'Rent this Garden', new_garden_booking_path(@garden), class: 'link-green' %>
      <% elsif @garden.user_id == current_user.id %>
        <%= link_to 'Edit', edit_garden_path(garden), class: 'link-green' %>
        <%= link_to 'Destroy', garden, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-green' %>
      <% end %>
    </div>

    <h2 class="card-trip-pricing"><%= @garden.price_per_day %>€</h2>

    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
</div>
