<div class="container mb-5">
  <br>
  <div class="card-trip">
    <%= image_tag @garden.photo %>
  <div class="card-trip-infos">
    <div>

      <h2><%= @garden.name.capitalize%></h2>
      <p><%= @garden.address %></p>
      <p><%= @garden.price_per_day %>€ per day</p>
      <p><%= @garden.description %></p>


      <% if current_user.nil? || @garden.user_id != current_user.id  %>
        <%=link_to 'Rent this Garden', new_garden_booking_path(@garden), class: 'link-green' %>
      <% elsif @garden.user_id == current_user.id %>
        <%= link_to 'Edit', edit_garden_path(@garden), class: 'link-green' %>
        <%= link_to 'Destroy', @garden, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-green' %>
      <% end %>
        </div>
          <h2 class="card-trip-pricing"><%= @garden.price_per_day %>€ per day</h2>
          <%=image_tag(@garden.user.avatar, class: "card-trip-user avatar-bordered")%>
        </div>
</div>
<%= link_to 'Back', gardens_path, class: "btn btn-outline-success" %>
</div>
